@charset "utf-8";
/* CSS Document */

div.title{
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-size: 54pt;
	font-weight: bold;
	color: black;
	text-align:center;
}
div.heading{
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-size: 36pt;
	color: blue;
}
div.one{
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-size: 20pt;
	color:black;
	text-align: left;
}
a:link,a:visited,a:actived{
	color: black;
	font-weight: bold;
	text-decoration: none;
}
a:hover{
	color: red;
	font-weight: bold;
	text-decoration: none;
}
div.two{
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-size: 20pt;
	color:black;
	text-align: left;
}